/* Estilos básicos para o formulário */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-color: #81039B;
    margin: 0;
    padding: 20px;
}

h1,
h2 {
    text-align: center;
    color: #fff;
}

form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
}

/* Estilo para campos obrigatórios */
label.required::after {
    content: '*';
    color: red;
    margin-left: 4px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
    width: 100%;
    padding: 10px;
    /* margin-bottom: 12px; */
    border: 1px solid #847d7d;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
}

button[type="submit"] {
    background-color: #0AA210;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #0aa20fc4;
}

button[type="back"] {
    background-color: #c90a0a;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button[type="back"]:hover {
    background-color: #c90a0ac4;
}

.back {
    color: #fff;
    text-decoration: none;
}


label {
    margin-bottom: .2rem;
    position: relative;
}

label:not(:first-of-type) {
    margin-top: 1rem;
}

.helper-text {
    display: none;
    font-size: .8rem;
    color: darkred;
}

.required-popup::after {
    content: "*Campo obrigatório";
    position: absolute;
    top: 0;
    right: 0;
    color: #DFDFDF;
    font-size: .65rem;
    padding: .2rem .3rem;
    width: auto;
    display: block;
    background-color: #202020;
}

input.error {
    border: solid 2px #992020;
    background-color: #CCBBBB;
    color: #662020;
}

input.correct {
    background-color: #BBCCBB;
    border: solid 2px #206620;
    color: #206620;
}

.visible {
    display: block;
}

.container_empresa {
    margin: 25px 0;
}