*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato';
}


header {
    display: flex;
    justify-content: space-around;
    background-color: #000;
    height: 120px;
    background-repeat: no-repeat;
    background-image: url('../images/mascara.png');
}

.center{
    width: 1280px;
    margin: 0 auto;
    text-align: center;
}

nav{
    margin-top: 30px;
    display: flex;
    align-self: center;
    margin-left: 320px;
}

nav li {
    list-style: none;
    padding: 20px;
}

nav li a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;

}

.usuario {
    align-self: center;
}

.usuario a{
    color: #fff;
    text-decoration: none;
}

.logo{
    position: absolute;
    top: 20px;
    left: 80px;
}

.logo img{
    width: 20em;
}

button.login {
    background-color: #E04F12;
    margin-left: 20px;
    width: 120px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-weight: 700;
}

.page1{
    background-color: #81039B;
    height: 90vh;
    background-repeat: no-repeat;
    background-position: 0% 75%;
    background-image: url('../images/mascara-1.png');
    display: flex;
    justify-content: space-around;
    font-size: 1.2rem;
}

.page1 img{
    margin-top: 40px;
}

.page1 h1,h2, h3, h4, h5, h6{
    padding-top: 40px;
    line-height: 1.5em;
    font-weight: 900;

}

.content{
    margin: 0 20px 0 80px;
    color: #fff;
}

.parceiras{
    margin: 20vh ;
    display: flex;
    justify-content: space-between;
}

footer{
    height: 40vh;
    background-color: #b238ca5b;
}

.logFot {
    margin-left: 80px;
}


/* Incluindo o estilo do chatbot aqui */
.chat-container {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

.chat-box {
    height: 150px;
    overflow-y: scroll;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
}

.chat-message {
    margin: 5px 0;
}

.user-message {
    text-align: right;
    color: blue;
}

.bot-message {
    text-align: left;
    color: green;
}

.chat-container input[type="text"] {
    width: calc(100% - 50px);
    padding: 5px;
}

.chat-container button {
    padding: 5px 10px;
    margin-left: 5px;
}


.container-comunidade {
    display: flex;
    justify-content: center;
    padding: 20px;
}

 .row {
    display: flex;
}

.img_comunidade {
    max-width: 50%;
    height: auto;
    margin-left: 20px;
}

.container-comunidade div {
    max-width: 40%;
    margin-right: 20px;
}

.conteudo {
    align-self: center;
}

.conteudo h3{
    font-weight: 700;
}

.container_ferramentas{
    display: flex;
    width: 100vh;

    flex-direction: row;
    justify-content: center;
}

.container_ferramentas .row{
    flex-wrap: nowrap;
    width: 8em;
}